mixin menu()
    view(class='menu' id='menu')
        view(class='menu_body' id='menu_body')
            img(id='menu_close' class='menu_close hove_animate' mode='aspectFit' src='../../image/close.png')
            view(class='menu_main')
                //当前页面显示加 class='select'
                view(
                    class="menu_item box_h {{(list.url == nowPage)? 'select' : ''}}"
                    id='menu_list'
                    data-url='{{list.url}}'
                    wx:for='{{menu}}'
                    wx:key='index1'
                    wx:for-index='t1'
                    wx:for-item='list'
                )
                    view(
                        wx:for='{{list.name}}'
                        wx:key='index2'
                        wx:for-item='text'
                        wx:for-index='t2'
                        class="{{ (text ==' ') ? 'space' : '' }} hover_animate"
                        style="opacity:{{menu_list_opacity_animate[t1][t2]}}"
                    ) {{text}}

