title 比心言情


include ./include/book_s
include ./include/book_h
include ./include/title
include ./include/book_h_no_img
include ./include/nav


//顶部
view(class='index_top box_s')
    img(class='index_top_bg' src='../../image/index/logo.png')
    view(class='index_top_logo')
    view(class='index_top_search box_h center_s')
        view(class='index_top_input_main boxflex1')
            img(class='index_top_input_icon' src='../../image/search.png')
            input(type='search' placeholder='搜索' name='search' bindinput='searchInput' value='{{search}}')
        view(class='index_top_btn canClick')
            img(class='index_top_btn1' src='../../image/search_btn.png')


//banner
swiper(
    class='index_banner'
    indicator-dots='true'
    autoplay='true'
    duration='1000'
    interval='5000'
    indicator-color='#fff'
    indicator-active-color='rgb(254,184,182)'
)
    block(wx:for='{{banner}}' wx:key='index')
        swiper-item
            img(src='{{item.imgSrc}}' data-url='{{item.url}}' bindtap='bannerTap')


//导航条
view(class='index_dh box_h')
    view(class='index_dh_item box_s center canClick')
        img(src='../../image/index/menu1.png')
        view 读过
    view(class='index_dh_item box_s center canClick')
        img(src='../../image/index/menu2.png')
        view 书库
    view(class='index_dh_item box_s center canClick')
        img(src='../../image/index/menu3.png')
        view 排行
    view(class='index_dh_item box_s center canClick')
        img(src='../../image/index/menu4.png')
        view 免费
    view(class='index_dh_item box_s center canClick')
        img(src='../../image/index/menu5.png')
        view 充值


//间隔条
view(class='jg')


//最近阅读
view(class='index_near')
    view(class='index_near_bottom box_h center_s')
        view(class='boxflex1') 最近阅读
        view(class='index_near_number') 9544 人阅读


//最近主打
+title(1,'本期主打',true)
view(class='index_main1 box_h')
    view(wx:for='{{bookList1}}' wx:key='main1' class='index_main1_item center')
        +book_s()


//间隔条
view(class='jg')


//精品好书
+title(2,'精品好书')
view(class='index_main2 box_s')
    block(wx:for='{{bookList2}}' wx:key='main2')
        view(wx:if='{{index==0}}' class='index_main2_row')
            +book_h(2)
    view
        block(wx:for='{{bookList2}}' wx:key='main2_')
            block(wx:if='{{index!=0}}')
                +book_s()


//间隔条
view(class='jg')


//热门畅销
+title(3,'热门畅销')
view(class='index_main3 box_s')
    block(wx:for='{{bookList3}}' wx:key='main3' )
        block(wx:if='{{index<2}}')
            +book_h(2)
    block(wx:for='{{bookList3}}' wx:key='main3_')
        block(wx:if='{{index==2}}')
            +book_h_no_img(true)
    block(wx:for='{{bookList3}}' wx:key='main3_')
        block(wx:if='{{index>2}}')
            +book_h_no_img()



//间隔条
view(class='jg')



//惊喜新书
+title(4,'惊喜新书')
view(class='index_mian4')
    block(wx:for='{{bookList4}}' wx:key='main4' )
        +book_s()



//导航
+nav()