title AURA SHOW

include ./include/loading
include ./include/top
include ./include/menu


+loading()
view(id='page' bindtouchmove='scollerScroll' style='overflow:hidden;')
    +top()
    +menu()

    view(class='show_title')
        view(class='show_title_name') AURA SHOW
        view(class='show_title_number box_h') / {{list.length}} projects


    view(class='show_main')
        view(
            class='show_list hover_animate1 {{listClassData[n]}}'
            data-id='{{item.id}}'
            wx:for='{{list}}'
            wx:key='index'
            wx:for-index='n'
            wx:item='item'
            id='list_{{n}}'
            jq='list'
            style='{{listTopData[n]}}'
        )
            view(class='hover_animate') {{item.year}}
            view(class='hover_animate list_area') {{item.name}}
            view(class='hover_animate') {{item.msg}}
            view(class='show_list_line hover_animate')
            view(class='show_img')
                img(src='http://bensxu.duapp.com/h5/artSpace/{{item.img}}' mode='widthFix')
